.spell-pool {
  text-align: center;
  background-color: #1e1e1e;
  border: 1px solid #4a4a4a;
  border-radius: 8px;
  padding: 12px;
  width: fit-content;
}

.spell-pool-title {
  font-size: 18px;
  color: white;
  margin-bottom: 8px;
}

.spell-pool-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}
